  <%= turbo_frame_tag(dom_id(@group)) do %>
  <div class="notification header">
    <%= form_with(model: [@workspace, @group]) do |f| %>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <%= f.text_field :name, class: 'input' %>
        </p>
        <p class="control">
          <%= f.submit t('groups.edit.update'), class: 'button is-link is-light' %>
          <%= link_to  t('shared.back'), workspace_group_path(@workspace, @group), class:"my-2" %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
