<li>
  <div class="box p-0 my-2" data-action="dblclick->items#edit" id="box_<%= dom_id(item) %>">
    <%= turbo_frame_tag(dom_id(item)) do %>
      <% if render_item_header(item) %>
        <ul>
          <li class="mb-1 py-1 px-2 is-size-7 has-background-white-bis" style="border-bottom: 1px solid #e3e3e3; border-top-left-radius: 6px; border-top-right-radius: 6px;">
            <% if item.due_at.present? %>
              <span class="icon-text has-text-grey mr-3">
                <span class="icon">
                  <i class="fas fa-calendar"></i>
                </span>
                <span><%= t('.due_at_html', relative_time: local_relative_time(item.due_at, type: 'weekday-or-date')) %></span>
              </span>
            <% end %>
            <% if item.group.present? && @group.nil? %>
              <%= link_to workspace_group_path(@workspace, item.group), target: '_top', class: 'tag-link' do %>
              <span class="icon-text mr-3">
                <span class="icon">
                  <i class="fas fa-list-ul"></i>
                </span>
                <span><%= item.group.name %></span>
              </span>
              <% end %>
            <% end %>
          </li>
          <li>
          <% end %>
          <div class="is-flex is-justify-content-space-between">
            <div class="py-2 px-1 has-text-grey has-text-centered" style="min-width: 2rem; vertical-align: middle;">
              <% if item.task? %>
                <%= form_with(model: [@workspace, item], data: { controller: "items"}, url: workspace_item_path(@workspace, item, tag: params[:tag], filter: params[:filter], project: params[:project], sorting: params[:sorting], page: params[:page])) do |f| %>
                  <input id="confirm" type="checkbox" <%= 'checked' if item.completed? %>  data-action="click->items#submit">
                  <%= f.hidden_field :status, value: item.completed? ? 0 : 1 %>
                <% end %>
              <% else %>
                <%= item_icon(item) %>
              <% end %>
            </div>
            <div class="p-2 is-flex-grow-2 content main-content <%= item.note? ? 'my-1' : 'mb-0' %>" style="<%= 'text-decoration: line-through;' if strikethrough?(item) %> "><%= format_content(item) %></div>
            <div href="#" class="p-2 has-text-grey-lighter item-menu-container" data-action="click->items#menu">
              <div class="control item-menu-toggle"><span class="icon"><i class="fas fa-ellipsis-v item-menu-icon"></i></span></div>
              <div class="is-flex is-hidden item-menu" style="position: absolute; right: 3rem; background: white; margin-top: -1.9rem;" disabled>
                <p class="has-text-grey px-1 is-flex is-align-items-center">
                  <small><%= t('shared.created_at_ago_html', time_ago: local_time_ago(item.created_at)) %></small>
                </p>
                <%= link_to edit_workspace_item_path(@workspace, item, tag: params[:tag], filter: params[:filter], project: params[:project], sorting: params[:sorting], page: params[:page]) do %>
                  <div class="button is-small is-link is-outlined m-1 edit-button" onclick="this.classList.add('is-loading');"><span class="icon"><i class="fas fa-pen"></i></span></div>
                <% end %>
                <%= button_to  "X", workspace_item_path(@workspace, item), method: :delete, class: "button is-small is-danger is-outlined m-1", onclick: "this.classList.add('is-loading');" %>
              </div>
            </div>
          </div>
          <% if render_item_header(item) %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</li>