<% if notice %>
  <p id="notice" class="notification is-link"><%= notice %></p>
<% end %>
<% @group_id = @group ? @group.id : nil %>
<div class="py-4"><%= turbo_frame_tag("new_item", src: new_workspace_item_path(@workspace, group_id: @group_id)) do %>
    <%= render 'items/form', item: @workspace.items.build %>
  <% end %>
</div>
<%= render @group if @group %>
<%= render @project if @project %>
<% unless @items.empty? %>
  <div class="is-flex is-justify-content-flex-end mt-2" data-controller="toggle">
    <div class="dropdown is-right" data-toggle-name="sorting-dropdown">
      <div class="dropdown-trigger">
        <a class="has-text-grey" aria-haspopup="true" aria-controls="dropdown-menu" data-toggle-target="sorting-dropdown" data-action="click->toggle#active">
          <span><%= t(current_sorting_string) %></span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <%= sorting_link_helper(@workspace, "created_at_desc") %>
          <%= sorting_link_helper(@workspace, "created_at_asc") %>
          <%= sorting_link_helper(@workspace, "updated_at_desc") %>
          <%= sorting_link_helper(@workspace, "due_at_asc") if params[:filter] == "due" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<ul id="items" data-controller="items">
  <%= render  @items, workspace: @workspace, group: @group %>
</ul>
<% if @pagy.pages > 1 %>
  <div class="my-3"><%== pagy_bulma_nav(@pagy) %></div>
<% end %>
<%= render 'shared/tutorial/lotta_explanation' if @items.empty? && params[:filter].blank? %>
<% if Rails.env.development? %>
  <%= current_user.inspect %><br>
  <%= @workspace.inspect %>
<% end %>
</div>
